<?xml version='1.0' encoding='UTF-8'?>
<plugin
    id="com.outsystems.iconchanger"
    version="2.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>App Icon Changer</name>
  <author>Andre Grillo - @OutSystems</author>
  <description>Change android app icon</description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <dependency id="cordova-plugin-settings-hook" url="https://github.com/andregrillo/cordova-plugin-settings-hook.git#bug/installNodeDependecies" />

  <js-module name="AppIconChanger" src="www/AppIconChanger.js">
    <clobbers target="AppIconChanger"/>
  </js-module>

  <!-- android platform -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
        <feature name="AppIconChanger">
            <param name="android-package" value="com.outsystems.iconchanger.AppIconChanger" onload="true" />
        </feature>
    </config-file>

    <!-- Hook for fixing AndroidManifest.xml -->
    <hook type="after_plugin_install" src="hooks/ManifestFix.js" />

    <!-- Java files -->
    <source-file src="src/android/AppIconChanger.java" target-dir="src/com/outsystems/iconchanger" />
    <source-file src="src/android/AppIconNameChanger.java" target-dir="src/com/outsystems/iconchanger" />

    <!-- Icons: MUST BE CHANGED! Please read the instructions in the README.md file -->
    <source-file src="res/appIconChanger/redapple.png" target-dir="app/src/main/res/drawable-port-xxhdpi"/>
    <source-file src="res/appIconChanger/blueapple.png" target-dir="app/src/main/res/drawable-port-xxhdpi"/>
    <source-file src="res/appIconChanger/greenapple.png" target-dir="app/src/main/res/drawable-port-xxhdpi"/>

    <!-- Setting the Default Icon: MUST BE CHANGED! Please read the instructions in the README.md file -->
    <config-file target="res/values/strings.xml" parent="/*">
      <string name="default_icon_id">redapple</string>
    </config-file>

    <!-- Add the activity aliases: MUST BE CHANGED! Please read the instructions in the README.md file -->
    <config-file target="AndroidManifest.xml" parent="application">
        <activity-alias 
          android:enabled="false" 
          android:name=".MainActivity__greenapple" 
          android:icon="@drawable/greenapple" 
          android:label="@string/app_name" 
          android:targetActivity=".MainActivity" 
          android:configChanges="orientation|screenSize" 
          android:noHistory="true">
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity-alias>
         <activity-alias
          android:enabled="false" 
          android:configChanges="orientation|screenSize"
          android:icon="@drawable/blueapple"
          android:label="@string/app_name" 
          android:name=".MainActivity__blueapple"
          android:noHistory="true" 
          android:targetActivity=".MainActivity">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity-alias>

        <!-- the default activity -->
        <activity-alias 
          android:enabled="true" 
          android:name=".MainActivity__redapple" 
          android:icon="@drawable/redapple" 
          android:label="@string/app_name" 
          android:targetActivity=".MainActivity" 
          android:configChanges="orientation|screenSize" 
          android:noHistory="true">
          <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
          </intent-filter>
        </activity-alias>
    </config-file> 

    <resource-file src="src/android/res/layout/appiconchanger.xml" target="res/layout/appiconchanger.xml" />
  </platform>
</plugin>
